.traders-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
}
.traders-grid-column {
  background-clip: padding-box;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.traders-grid-column > div {
  background: transparent;
  width: 100%;
  margin: 0rem 0rem 0rem 0rem;
}
