.mansonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.mansonry-grid-column {
  background-clip: padding-box;
  margin: 0.5rem;
}

.mansonry-grid-column > div {
  background: transparent;
}

@media (max-width: 500px) {
  .mansonry-grid-column {
    margin: 0.4rem;
  }
}
