.mansonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.mansonry-grid-column {
  background-clip: padding-box;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.mansonry-grid-column > div {
  background: transparent;
  margin-top: 1.4rem;
}

@media (max-width: 500px) {
  .mansonry-grid-column {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
}
