.mansonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 35px 17.5px 0px 17.5px;
}
.mansonry-grid-column {
  background-clip: padding-box;
  margin: 0px 17.5px 35px 17.5px;
}

.mansonry-grid-column > div {
  background: transparent;
}

@media (max-width: 500px) {
  .mansonry-grid-column {
  }

  .mansonry-grid-column > div:first-child {
  }

  .mansonry-grid-column > div {
    background: transparent;
  }
}
